@model CartViewModel
<div class="container">
    @foreach (var el in Model.cart.ListCartItems)
    {
        <div class="aler alert-warning mt-3">
            <b>Laptop: </b> @el.laptop.name<br/>
            <b>Price: </b> @el.price.ToString("c", System.Globalization.CultureInfo.GetCultureInfo("en-us"))
        </div>
    }
    <hr/>
    <a class="btn btn-warning btn-lg" asp-controller="Order" asp-action="Checkout">Make order</a>
</div>
